.selectors {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.selector {
    padding: 2px 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    transition: background-color 250ms ease;
}

.selector:hover {
    background-color: rgb(220, 220, 220);
}

.active {
    background-color: rgb(200, 200, 200);
}
