.task {
    padding: 10px 15px;
    background-color: rgb(245, 245, 245);
    display: grid;
    gap: 15px;
    border-radius: 10px;
    transition: box-shadow 250ms ease, background-color 250ms ease;
}

.list-view {
    gap: 5px;
}

.task:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.high {
    background-color: var(--high-priority-bg);
}

.high:hover {
    background-color: var(--high-priority-hover-bg);
}

.medium {
    background-color: var(--medium-priority-bg);
}

.medium:hover {
    background-color: var(--medium-priority-hover-bg);
}

.low {
    background-color: var(--low-priority-bg);
}

.low:hover {
    background-color: var(--low-priority-hover-bg);
}

.none {
    background-color: var(--no-priority-bg);
}

.none:hover {
    background-color: var(--no-priority-hover-bg);
}

.header {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    display: flex;
    align-items: center;
}

.left {
    gap: 5px;
}

.right {
    gap: 15px;
}

.title {
    font-weight: 550;
}

.alert {
    color: rgb(225, 45, 45);
}

.fire {
    color: rgb(245, 125, 45);
}

.snow {
    color: rgb(45, 185, 245);
}

.footer {
    display: flex;
    justify-content: space-between;
}

.author {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.person {
    margin-right: 5px;
    margin-bottom: 2px;
}

.due-date {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.calendar {
    margin-right: 5px;
    margin-bottom: 2px;
}
